#y1{
    width: 100%;
    height: 1600px;
    margin-top: 5%;
    
}
#y2{
    width: 100%;
    margin:auto;
	border-top:#eee 1.2px solid;	
}
#y2 h1{
	margin:auto;
	background:#FFF;
	position:relative;
	top:-22px;
	padding:0px 20px;
	display:table;
	font-weight:700;
	color:#555
}
#s1{
    color: darkgray;
    font-weight: 600;
}
#s2{ 
    width: 100%;
   
    position: relative;
    left: 300px;
}
#date{
    border: 1px solid rgb(168, 168, 168);
    width: 40px;
    float: left;
    margin-top: 3%;
}
#day{
    background: #ffe691;
    color: #ae8f23;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    text-align: center;
}
#month{
    background: #eee;
    border-top: 1px solid #e5e5e5;
    color: #999;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
#year{
    background: #fff;
    border: 1px solid #eee;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

#s3 img{ 
    padding-left: 30px;
    padding-top: 30px;
}
#s4{
    position: relative;
    top: -135px;
    left: 30px;
    font-weight: 800;
    font-size: 28px;
}
#s5{
    position: relative;
    left: -30px;
    top: -60px;
    color: darkgrey;
}
#s6{ position: relative;
    top:-60px; left: 50px;}

    #s7{ 
        width: 100%;
      
        position: relative;
        left: 300px;
    }
    #date{
        border: 1px solid rgb(168, 168, 168);
        width: 40px;
        float: left;
        margin-top: 3%;
    }
    #day{
        background: #ffe691;
        color: #ae8f23;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 2px;
        text-align: center;
    }
    #month{
        background: #eee;
        border-top: 1px solid #e5e5e5;
        color: #999;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }
    #year{
        background: #fff;
        border: 1px solid #eee;
        color: #ccc;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
    }
    #s8 img{ 
        padding-left: 30px;
        padding-top: 30px;
    }
    #s9{
        position: relative;
        top: -135px;
        left: 30px;
        font-weight: 800;
        font-size: 28px;
    }
    #s10{
        position: relative;
        left: -58px;
        top: -60px;
        color: darkgrey;
    }
    #s11{ position: relative;
        top:-60px; left: 35px;}


        #s12{ 
            width: 100%;
        
            position: relative;
            left: 300px;
        }
        #date{
            border: 1px solid rgb(168, 168, 168);
            width: 40px;
            float: left;
            margin-top: 3%;
        }
        #day{
            background: #ffe691;
            color: #ae8f23;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 2px;
            text-align: center;
        }
        #month{
            background: #eee;
            border-top: 1px solid #e5e5e5;
            color: #999;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
        }
        #year{
            background: #fff;
            border: 1px solid #eee;
            color: #ccc;
            font-size: 12px;
            text-align: center;
            line-height: 18px;
        }
        #s13 img{ 
            padding-left: 30px;
            padding-top: 30px;
        }
        #s14{
            position: relative;
            top: -135px;
            left: 30px;
            font-weight: 800;
            font-size: 28px;
        }
        #s15{
            position: relative;
            left: -86px;
            top: -60px;
            color: darkgrey;
        }
        #s16{ position: relative;
            top:-60px; left: -2px;}

            #s17{ 
                width: 100%;
    
                position: relative;
                left: 300px;
            }
            #date{
                border: 1px solid rgb(168, 168, 168);
                width: 40px;
                float: left;
                margin-top: 3%;
            }
            #day{
                background: #ffe691;
                color: #ae8f23;
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 2px;
                text-align: center;
            }
            #month{
                background: #eee;
                border-top: 1px solid #e5e5e5;
                color: #999;
                font-size: 12px;
                text-align: center;
                line-height: 20px;
            }
            #year{
                background: #fff;
                border: 1px solid #eee;
                color: #ccc;
                font-size: 12px;
                text-align: center;
                line-height: 18px;
            }
            #s18 img{ 
                padding-left: 30px;
                padding-top: 30px;
            }
            #s19{
                position: relative;
                top: -135px;
                left: 30px;
                font-weight: 800;
                font-size: 28px;
            }
            #s20{
                position: relative;
                left: -56px;
                top: -60px;
                color: darkgrey;
            }
            #s21{ position: relative;
                top:-60px; left: 28px;}

                #s22{ 
                    width: 100%;
        
                    position: relative;
                    left: 300px;
                }
                #date{
                    border: 1px solid rgb(168, 168, 168);
                    width: 40px;
                    float: left;
                    margin-top: 3%;
                }
                #day{
                    background: #ffe691;
                    color: #ae8f23;
                    font-size: 18px;
                    font-weight: 600;
                    padding-bottom: 2px;
                    text-align: center;
                }
                #month{
                    background: #eee;
                    border-top: 1px solid #e5e5e5;
                    color: #999;
                    font-size: 12px;
                    text-align: center;
                    line-height: 20px;
                }
                #year{
                    background: #fff;
                    border: 1px solid #eee;
                    color: #ccc;
                    font-size: 12px;
                    text-align: center;
                    line-height: 18px;
                }
                #s23 img{ 
                    padding-left: 30px;
                    padding-top: 30px;
                }
                #s24{
                    position: relative;
                    top: -135px;
                    left: 30px;
                    font-weight: 800;
                    font-size: 28px;
                }
                #s25{
                    position: relative;
                    left: -106px;
                    top: -60px;
                    color: darkgrey;
                }
                #s26{ position: relative;
                    top:-60px; left: -20px;}

                    #s27{ 
                        width: 100%;
            
                        position: relative;
                        left: 300px;
                    }
                    #date{
                        border: 1px solid rgb(168, 168, 168);
                        width: 40px;
                        float: left;
                        margin-top: 3%;
                    }
                    #day{
                        background: #ffe691;
                        color: #ae8f23;
                        font-size: 18px;
                        font-weight: 600;
                        padding-bottom: 2px;
                        text-align: center;
                    }
                    #month{
                        background: #eee;
                        border-top: 1px solid #e5e5e5;
                        color: #999;
                        font-size: 12px;
                        text-align: center;
                        line-height: 20px;
                    }
                    #year{
                        background: #fff;
                        border: 1px solid #eee;
                        color: #ccc;
                        font-size: 12px;
                        text-align: center;
                        line-height: 18px;
                    }
                    #s28 img{ 
                        padding-left: 30px;
                        padding-top: 30px;
                    }
                    #s29{
                        position: relative;
                        top: -135px;
                        left: 30px;
                        font-weight: 800;
                        font-size: 28px;
                    }
                    #s30{
                        position: relative;
                        left: -56px;
                        top: -60px;
                        color: darkgrey;
                    }
                    #s31{ position: relative;
                        top:-60px; left: 108px;}

                        #s32{ 
                            width: 100%;
                
                            position: relative;
                            left: 300px;
                        }
                        #date{
                            border: 1px solid rgb(168, 168, 168);
                            width: 40px;
                            float: left;
                            margin-top: 3%;
                        }
                        #day{
                            background: #ffe691;
                            color: #ae8f23;
                            font-size: 18px;
                            font-weight: 600;
                            padding-bottom: 2px;
                            text-align: center;
                        }
                        #month{
                            background: #eee;
                            border-top: 1px solid #e5e5e5;
                            color: #999;
                            font-size: 12px;
                            text-align: center;
                            line-height: 20px;
                        }
                        #year{
                            background: #fff;
                            border: 1px solid #eee;
                            color: #ccc;
                            font-size: 12px;
                            text-align: center;
                            line-height: 18px;
                        }
                        #s33 img{ 
                            padding-left: 30px;
                            padding-top: 30px;
                        }
                        #s34{
                            position: relative;
                            top: -135px;
                            left: 30px;
                            font-weight: 800;
                            font-size: 28px;
                        }
                        #s35{
                            position: relative;
                            left: -56px;
                            top: -60px;
                            color: darkgrey;
                        }
                        #s36{ position: relative;
                            top:-60px; left: 35px;}

                            #pg{
                                height: 100px;
                                width: 100%;
                                margin: 80px 0;
                            }
                            #pg span{
                                margin-left: 48%;
                                font-size: 17px;
                                font-weight: 300;
                                display: block;
                                margin-bottom: 3%;
                            }
                            #box{
                                width: 80%;
                                height: 31px;
                                margin-left: 25%;
                            }
                            #pg li{
                                list-style: none;
                                float: left;
                                width: 20px;
                                text-align: center;
                                margin-left: 10%;
                                line-height: 35px;
                                border-bottom: 3px solid #eee;
                                border-top: 1px solid #eee;
                                transition: all 0.5s ease;
                                cursor: pointer;
                            }

